In [ ]:
Assignment-1

In [ ]:
# Basic Variable Swapping

In [31]:

# 1. Switch values of two integers
# Input: n1 = 20, n2 = 30
# Output: n1 = 30, n2 = 20
n1=20
n2=30
n1,n2=n2,n1
print ("This is n1 value:",n1)
print ("This is n2 value:",n2)

This is n1 value: 30
This is n2 value: 20

In [35]:
# 2. Switch values of two strings (characters)
# Input: char1 = "hello", char2 = "java"
# Output: char1 = "java", char2 = "hello"
char1="hello"
char2="java"
char1,char2=char2,n1
print("This is char1 =",char1)
print("This is char2 =",char2)

This is char1 = java
This is char2 = 30

In [8]:
# 3. Switch one string value with one integer value
# Input: n1 = 200, char2 = "java"
# Output: n1 = "java", char2 = 200
n1=200
n2="java"
n1,n2=n2,n1
print ("This is n1 value:",n1)
print ("This is n2 value:",n2)

This is n1 value: java
This is n2 value: 200

In [ ]:
# Banking and Transactions

In [29]:
# 5. Update balance after deposit
# Initial balance: current_balance = 10000
# Deposit amount: deposit_balance = 5000
# Output:
# ○ Before deposit: current_balance = 10000
# # ○ After deposit: current_balance = 15000


current_balance = 10000 #Initial balance: 
deposit_balance = 5000 # Deposit amount:
res=current_balance+deposit_balance
print ("Before deposit: current_balance =",current_balance)
print ("After deposit:  current_balance =",res)

Before deposit: current_balance = 10000
After deposit:  current_balance = 15000

In [34]:
# 6. Update balance after withdrawal
# Before: balance = 12000
# Withdrawal: 3000
balance= 12000 # Before withdrawl
withdrawl_amount=3000
Initial_balance=balance-withdrawl_amount
print (Initial_balance)

9000

In [42]:
# 7. Increase shopping cart items by 3
# Before: cart_items = 5
# After: ?
input_cart_items=int(input("Enter items no"))
current_items=5
Total_items=current_items+input_cart_items
print ("You have addi tems=",input_cart_items)
print ("Total items =",Total_items)

Enter items no 5

You have addi tems= 5
Total items = 10

In [48]:
# 8. Apply a 20% discount to a price
# Before: price = 1000
# After: ?
price=1000
discount=price*20/100
after_discount=price-discount
print("Price after discount =",after_discount,"INR")

Price after discount = 800.0 INR

In [ ]:
# Academic Calculations

In [53]:
# 9. Calculate student percentage
# Input: obtain_marks = 430, out_of = 500
# Output: Percentage = ?
obtain_marks=430
out_of = 500
Percentage=obtain_marks/out_of*100
print("Percentage =",Percentage,"%")

Percentage = 86.0 %

In [57]:
# 10. Calculate total and average of 4 subjects
# Input Example:
# ● Subject 1: 80
# ● Subject 2: 75
# ● Subject 3: 90
# ● Subject 4: 85

Subject_1= 80
Subject_2= 75
Subject_3= 90
Subject_4= 85
Avg=Subject_1+Subject_2+Subject_3+Subject_4/4
print("Average =",Avg)

Average = 266.25

In [59]:
# 11. Calculate average of 3 numbers
# Input: num1 = 25, num2 = 35, num3 = 45
# Output: Average = ?

num1=25
num2=35
num3=45
average=num1+num2+num3/3
print("Average=",average)

Average= 75.0

In [ ]:
# Finance & Business Calculations

In [63]:
# 12. Calculate profit or loss percentage
# Input: cost_price = 500, selling_price = 600
# Output: Profit or Loss = ?

selling_price=600
cost_price=500
if selling_price>cost_price:
    print("Profit")
else:
    print("Loss")

Profit

In [65]:
# 13. Calculate simple interest
# Input: principal = 10000, rate = 5, time = 2
# Output: Simple Interest = ?

principal=10000
rate=5
time=2
interest=principal*rate*time/100
print("Total interest=",interest,"INR")

Total interest= 1000.0 INR

In [81]:
# 14. Calculate compound interest
# Input: principal = 10000, rate = 5, time = 2
# Output: Compound Interest = ?

principal=10000
rate = 5
time = 2
compunt_interest=principal*(1+rate/1)**time
print(compunt_interest,"INR")

360000.0 INR

In [82]:
# 15. Calculate tax on income
# Input: income = 500000, tax_rate = 10
# Output: Tax = ?
income=50000
tax_rate=10
tax=income*tax_rate/100
print(tax,"INR")

5000.0 INR

In [85]:
# 16. Calculate percentage increase or decrease
# Input: initial_value = 200, final_value = 250
# Output: Percentage Change = ?
initial_value = 200
final_value = 250
Percentage_Change=(final_value-initial_value)/initial_value*100
print(Percentage_Change,"%")

25.0 %

In [ ]:
# Conversions

In [97]:
# 17. Convert boolean to integer
# Input: True
# Output: ?
Input=True
c=int(Input)
print(type(c),c)

<class 'int'> 1

In [98]:
# 18. Convert float to string
# Input: 45.67
# Output: ?

Input=45.67
st=str(Input)
print(type(st),st)

<class 'str'> 45.67

In [101]:
# 19. Convert 20°C to Fahrenheit
# Input: 20°C
# Output: ?

Input=20
f=Input*9/5+32
print(f,"F")

68.0 F

In [104]:
# 20. Convert 50°F to Celsius
# Input: 50°F
# Output: ?

Input=50
c=(Input-32)*5/9
print(c,"c")

10.0 c

In [107]:
# 21. Convert integer to binary
# Input: 25
# Output: ?
Input=25
b=bin(Input)
print("This is binary of 25=",b)

This is binary of 25= 0b11001

In [ ]:
# Geometry

In [109]:
# 21. Calculate area of a triangle
# Input: base = 10, height = 6
# Output: Area = ?
base=10
height=6
area=1/2*base*height   #formula is area=1/2*base*height
print("Area is",area)

Area is 30.0

In [110]:
# 22. Calculate perimeter of a square
# Input: side = 9
# Output: Perimeter = ?

side=9
perimeter=4*side   #formula is p=4a
print(perimeter)

36

In [3]:
# 23. Calculate diameter of a circle
# Input: radius = 14
# Output: Diameter = ?
r=14
d=2*r   #Formula is D=2r
print(d)

28

In [6]:
# 24.Calculate volume of a cube
# Input: side = 5
# Output: Volume = ?
area=5
volume=(5)**3   #formula is V=a^3
print("Volume is",volume)

Volume is 125

In [8]:
# 25. Calculate surface area of a cuboid
# Input: l = 4, b = 3, h = 2
# Output: Surface Area = ?
l=4
b=3
h=2
area=2*(l*b+b*h+h*l) #formula 2(l*b + b*h + h*l)
print(area)

52

In [ ]:
# Mathematical Expressions

In [12]:
# 26.Square of sum: (x + y)²
# Input: x = 5, y = 7
# Output: ?
x=5
y=7
sum1=(x+y)**2
print(sum1)

144

In [15]:
# 27.Simplify expression: x² - 4x + 4
# Input: x = 3
# Output: ?
x=3
z=x**2-4*x+4
print (z)

1

In [17]:
# 25.Evaluate: (a + b)(a - b)
# Input: a = 6, b = 2
# Output: ?

a=6
b=2
c=(a+b)*(a-b)
print(c)

32

In [25]:
# 29.Sum of cubes: a³ + b³
# Input: a = 1, b = 2
# Output: ?
a=1
b=2
cube=3
Sum_of_cube=a**cube+b**cube
print(Sum_of_cube)

9

In [28]:
# 30.Simplify: (x - y)²
# Input: x = 10, y = 6
# Output: ?

x=10
y=6
simplify=(x-y)**2
print(simplify)

16

In [29]:
# 31.Difference of cubes: x³ - y³
# Input: x = 4, y = 1
# Output: ?

x=4
y=1
c=3
res=x**c-y**c
print(res)

63

In [ ]:
# String Operations

In [46]:
# 32.If user input is:
# Name: Dev
# Age: 25
# City: Jaipur
# Hobby: Cooking

Nam="Dev"
Age=25
City="Jaipur"
Hobby="Cooking"
print(f"meet {Nam}, a{Age}-year-old, enthusiast From {City}")

meet Dev, a25-year-old, enthusiast From Jaipur

In [50]:
# 33.Create a Python program that asks the user for the following:
# ● Full Name
# ● Profession
# ● Favorite Quote
# ● Years of Experience
# Output format:
# ------------------------------------------------
# Name : <Full Name>
# Profession : <Profession>
# Experience : <Years of Experience> years
# Quote : "<Favorite Quote>"

Name=input("Enter your full name")
Profession=input("Enter your profession")
Experience=int(input("Enter your Experience in years"))
Fav_Quote=input("Enter your favorite quote")

print(f'''
-------------------------------------------------
Name :{Name}
Profession : {Profession}
Experience : {Experience} years
Quote : {Fav_Quote} ''')

Enter your full name Yogesh
Enter your profession Data Scintist
Enter your Experience in years 5
Enter your favorite quote I love coding

-------------------------------------------------
Name :Yogesh
Profession : Data Scintist
Experience : 5 years
Quote : I love coding